html {}
body {
  background: #000000;
}
#header {
  background: url("castels.png") no-repeat center;
  @include background-size(cover);
  height: 648px;
  padding-bottom: 0px;
}
#mist {
  background: #000000;
  height: 300px;
  width: 100%;
  margin-top: 150px;
  border: 1px solid #ff0000;
}
#arms {
  width: 281px;
  height: 450px;
  margin: 0 auto;
  display: block;
  background: url("arms.png") no-repeat center;
  @include background-size(cover);
}